---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="This page describes me"
	pubDate={new Date('November 12 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Coming soon!
	</p>
</Layout>
