---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Home"} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main
      class="flex w-full grow justify-center bg-gradient-to-b from-slate-100 to-white"
    >
      <section
        class="flex max-w-[720px] flex-col justify-center gap-8 px-8 md:px-24"
      >
        <h1 class="text-5xl font-semibold">⛵ Ahoy!</h1>

        <p>
          I'm Raphael. Hungry for knowledge, I strive to explore, learn and
          contribute to human progress in a sustainable way. I love the web,
          software engineering and maps.
        </p>

        <p>
          I'm a software engineer, currently working at <a
            class="text-blue-600 underline"
            href="https://ts.berlin/"
            target="_blank">Technologiestiftung Berlin</a
          >.
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
