---
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-full bg-white pt-4 shadow-sm">
  <nav class="flex items-center justify-center gap-4">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
